@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 90vh;
  margin: 1rem;
}
.container {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
}
h1 {
  font-family: "Lato", sans-serif;
  font-size: 1.45rem;
  margin-bottom: 0.35rem;
}
p {
  font-weight: 800;
  margin-bottom: 1.35rem;
}
.set {
  margin-block: 0.5rem;
  width: 100%;
}
.question {
  background-color: black;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin-bottom: 0.35rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.answer {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.75rem;
  font-weight: 600;
  display: none;
}
