* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80vh;
  border: 1px solid black;
  background-color: black;
  color: whitesmoke;
  padding: 2rem;
}
h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p {
  margin-block: 1rem;
  font: 900;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  line-height: 150%;
}

.btn-container {
  display: flex;
  gap: 1rem;
}
button {
  padding: 0.55rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 1.35 rem;
  cursor: pointer;
  border-radius: 0.33rem;
  border: none;
  outline: none;
  border: 2px solid transparent;
}
.agree,
.decline {
  background-color: yellow;
}

.agree:hover,
.decline:hover {
  background-color: black;
  color: yellow;
  border: 2px solid white;
  transition: all 0.4s;
}
.pref:hover {
  background-color: black;
  color: white;
  border: 2px solid white;
  transition: all 0.4s;
}
