* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 1.35rem;
  width: 90vh;
  max-width: 350px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2em;
  font-weight: 400;
}
label {
  display: block;
  margin-bottom: 0.45rem;
}
input {
  display: block;
  width: 70%;
  padding: 0.15rem;
  border: 2px solid black;
  border-radius: 0.35rem;
  margin-block: 0.45rem;
}
button {
  width: 70%;
  padding: 0.25rem;
  font-weight: 900;
  border: 2px solid black;
  border-radius: 0.35rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: black;
  border: 2px solid rgb(172, 144, 144);
  transition: all 0.4s;
}
p {
  text-align: center;
  font-size: 1.35rem;
}
