@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.reddot-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
}
.logo {
  width: 80px;
}
.plus {
  width: 100%;
  background: transparent;
  padding: 0.5rem;
  font-size: 1.15rem;
  cursor: pointer;
}
.plus:hover {
  background-color: #cc0036;
  border-radius: 50%;
  transition: all 0.4s;
}
.reddot-logo {
  max-width: 100%;
}
.dot {
  color: rgb(250, 51, 51);
}
.page-body {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  align-items: flex-start;
  position: relative;
}
.search-container {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.897);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35);
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.hide {
  display: none;
}
.fa-xmark {
  cursor: pointer;
  width: 100%;
  padding: 0.25rem;
}
.fa-xmark:hover {
  background-color: white;
  border-radius: 50%;
  color: black;
  transition: all 0.55s;
}

.search-head {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
.search-head h1 {
  font-size: 1.5rem;
}
.search-bar {
  margin: 0.75rem;
}
input[type="text"] {
  border-radius: 0.35rem;
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: 2px solid white;
  padding: 0.35rem;
}
.add-reddot {
  padding: 0.55rem;
  font-size: 1.15rem;
  border: none;
  border-radius: 0.35rem;
  border: 2px solid white;
  background-color: black;
  color: white;
  cursor: pointer;
}
.add-reddot:hover {
  border: 2px solid rgb(211, 48, 48);
  background-color: white;
  color: black;
  transition: all 0.4s;
}

.sub-reddot-container {
  background-color: #f7cbca;
  height: 500px;
  max-height: 80vh;
  width: 90%;
  max-width: 300px;
  padding: 0.25rem;
  border-radius: 0.45rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.sub-reddot-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.refresh,
.remove {
  background: transparent;
  cursor: pointer;
  color: rgb(230, 36, 36);
}
.refresh:hover,
.remove:hover {
  transform: scale(1.2);
  color: black;
  transition: all 0.4s;
}
.post-container {
  overflow-y: auto;
  flex-grow: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.post-container::-webkit-scrollbar {
  width: 8px;
}
.post-container::-webkit-scrollbar-thumb {
  background-color: #f40752;
  border-radius: 0.35rem;
}
.post-container::-webkit-scrollbar-track {
  background-color: #db815d;
  border-radius: 12px;
}
.sub-reddot-post {
  background-color: #cc0036;
  border-radius: 0.45rem;
  margin-bottom: 0.15rem;
  margin-right: 0.35rem;
  padding: 0.25rem;
  cursor: pointer;
}
.sub-reddot-post span {
  cursor: pointer;
}
.sub-reddot-post span:hover {
  color: white;
  transition: all 0.45s;
}

.error {
  width: 100%;
  background-color: red;
  text-align: center;
  padding: 0.25rem;
  color: white;
  border-radius: 0.25rem;
  cursor: not-allowed;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.hide-error {
  display: none;
}
