@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}
.container {
  width: 40vw;
  margin: 0 auto;

  padding: 0.25rem 1rem;
}
h1 {
  text-align: center;
  font-size: 1.35rem;
}
.bar {
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  gap: 20px;
}
.content {
  border: 2px solid rgba(59, 55, 55, 0.384);
  border-radius: 1rem;
  margin-top: 1rem;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas:
    "content content content"
    "bottom bottom bottom";
  padding: 0.35rem;
}
.qn_ans {
  grid-area: content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 1.35rem;
}
.bottom_bar {
  grid-area: bottom;
  display: flex;
  justify-content: space-between;
}
button {
  border: none;
  font-size: 0.65rem;
  cursor: pointer;
  padding: 0.25rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: 2px solid transparent;
}
button:hover {
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: all 0.35s;
}

.ans_show {
  display: block;
}
.ans_hide {
  display: none;
}
.qn_hide {
  display: none;
}
.progress_bar {
  height: 10px;
  background-color: black;
  width: 0%;
  transition: width 0.3s;
  border-radius: 10px;
}
.progress {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}
.num {
  white-space: nowrap;
  flex-shrink: 0;
  min-width: 45px;
  text-align: right;
}
