* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: beige;
  width: 60vw;
  margin: 1rem;
  padding: 1rem;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}
ul li {
  font-size: 1.35rem;
  cursor: pointer;
  color: rgb(151, 148, 148);
  border-bottom: 2px solid transparent;
}
ul li:hover {
  border-bottom: 2px solid black;
  transition: all 0.4s;
}

.content-box {
  margin-block: 1rem;
  background-color: #691d1d;
  padding: 3rem;
  font-size: 2rem;
  height: 300px;
  color: rgb(163, 136, 136);
  display: flex;
  align-items: center;
}
.first,
.second,
.third,
.fourth {
  background-color: black;
  color: white;
  padding: 3rem;
  width: 600px;
}
