@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 90vh;
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
}

.qn {
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.55rem;
  cursor: pointer;
  width: 160px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
}
.qn:hover {
  background-color: rgb(190, 186, 186);
  transition: all 0.3s;
}
.options {
  /* margin-top: 1rem; */
  border: 2px solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  width: 160px;
  background: white;
  position: absolute;
  top: 50px;
  z-index: 1;
}
.options > div {
  border-bottom: 2px solid black;
  padding: 0.65rem;
}
.options > div:last-of-type {
  border: none;
}
.options > div:hover {
  background-color: rgb(233, 217, 217);
  transition: all 0.3s;
}
.options > div:first-of-type {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.options > div:last-of-type:hover {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.showOptions {
  display: none;
}
