@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  background-color: #f0f0f0;
}
.container {
  width: 40vw;
  height: 75vh;
  padding: 1rem;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.header .github-logo {
  color: red;
  font-size: 1.15rem;
}
.header h1 {
  display: inline;
  font-size: 1.75rem;
}
.dropdown {
  width: 60%;
  margin: 1rem auto;
  position: relative;
}
.selector {
  border: 2px solid black;
  padding: 0.35rem;
  margin: 1rem auto;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.35rem;
}
.qn {
  cursor: pointer;
}
.qn:hover {
  border-bottom: 1px solid white;
  transition: all 0.3 s;
}
.selector:hover {
  background-color: black;
  color: white;
  transition: all 0.3s;
}
ul {
  list-style-type: none;
}
.option-box {
  position: absolute;
  top: 2.3rem;
  left: 1rem;
  height: 20ch;
  background-color: rgb(24, 23, 23);
  width: 90%;
  color: white;
  border-radius: 1rem;
  overflow-y: scroll;
}
.option-box li {
  background-color: white;
  width: 90%;
  margin: 0.35rem auto;
  border-radius: 0.45rem;
  color: black;
  border-bottom: 1px solid transparent;
  transition: all 0.3s;
  padding: 0.35rem;
  text-align: center;
  cursor: pointer;
}
.option-box li:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: all 0.3s;
}
.show-box {
  display: none;
}
.result-container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 40vh;
  background-color: rgb(255, 227, 227);
}

.reject-state,
.fetch-state,
.sucess-state {
  display: none;
}
.repo-name {
  font-size: 1.5rem;
}
.repo-description {
  margin-top: 1.35rem;
}
.repo-extra-info {
  margin-top: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  width: 80%;
  margin: 0.5rem auto;
}
button {
  width: 100%;
  background-color: black;
  outline: none;
  color: white;
  border: none;
  outline: none;
  padding: 0.35rem;
  border: 2px solid transparent;
  border-radius: 0.35rem;
  cursor: pointer;
  font-size: large;
  display: none;
}
button:hover {
  border: 2px solid black;
  background-color: white;
  color: black;
  transition: all 0.35s;
}
